@use 'colors';

.event {    
    padding: 80px 0;

    &--frontend {
        background-image: linear-gradient(colors.$blue1,colors.$blue2);
    }
    &--ux-ui {
        background-image: linear-gradient(colors.$blue2,colors.$pink);
    }
    &--data-science {
        background-image: linear-gradient(colors.$pink,colors.$yellow);
    }
    &--backend {
        background-image: linear-gradient(colors.$yellow,colors.$pink);
    }

    .container {
        display: block;

        .event__details {
            &__title {
                font-size: 1.1em;
            }
            &__text {
                margin: 16px 0;
                line-height: 22px;
            }
        }

        .event__image {
            max-width: 360px;
            width: 100%;
        }
    }
}

@media (min-width: 768px){
    .event {
        .container{
            display: flex;
            gap: 40px;
        }

        &--image-left {
            .container {
                flex-direction: row-reverse;
            }
        }
    }
}