.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        @media (max-width:992px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button {
            margin-top: 24px;
        }

        &__items {

            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            @media (max-width: 768px) {
                padding: 60px 0 44px;
            }

            &:nth-child(2){
                background: url(../../destino/images/fundo_combo_plus.png) center no-repeat;
                background-size: contain;
            }

            img {
                height: 83px;
            }

            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }

    p {
        text-align: center;
    }
}