.watch-anywere {

    
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 5.6vw;

        @media (max-width:768px) {
            display: block;
        }


        img {
            max-width: 100%;
        }

        div {
            padding: 0 2vw;

            h2 {
                margin-bottom: 24px;
            }
        }
    }
}

.filmes-series {
    padding: 10vw 5vw;

    &__content {

        @media (min-width: 768px) {
                position: relative;
            }
        
        img {
            width: 100%;
            margin-bottom: 20px;
            
            }
        
            div {

                @media (min-width: 768px) {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: calc(50% - 5.6vw);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                
                h2{
                    margin-bottom: 16px;
                    text-align: center;
                }
        
                p {
                    text-align: center;
                }

            }
    }

}